openapi: 3.1.0
info:
  title: Bitwise ETFs API
  version: v1
  description: Read-only market-data API for Bitwise indexes, ETFs, and fund data. Returns index metadata, historical daily index values, index constituents with prices/supplies/weights, per-fund data (market price, NAV, AUM, holdings, crypto-per-share, performance), and ETF listings and details. Endpoints and the authentication model are derived from the provider's published Postman collection at https://developers.bitwiseinvestments.com/; base host and error envelope were confirmed by live probe of https://api.bitwiseinvestments.com.
  contact:
    name: Bitwise API Support
    email: api@bitwiseinvestments.com
    url: https://developers.bitwiseinvestments.com/
  termsOfService: https://bitwiseinvestments.com/terms-of-service
servers:
- url: https://api.bitwiseinvestments.com
  description: Production
security:
- apiKeyAuth: []
tags:
- name: ETFs
  description: Bitwise exchange-traded fund listings and details.
paths:
  /api/v1/etfs:
    get:
      operationId: listEtfs
      tags:
      - ETFs
      summary: List ETFs
      description: Returns a list of all supported ETFs.
      responses:
        '200':
          description: Supported ETFs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Etf'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/etf/{etfName}:
    get:
      operationId: getEtf
      tags:
      - ETFs
      summary: Get ETF
      description: Retrieves ETF data for a specified fund symbol and optional date. If no date is provided it defaults to the current date and returns comprehensive fund information including pricing, holdings, and metadata.
      parameters:
      - name: etfName
        in: path
        required: true
        description: ETF ticker symbol (e.g. BITB).
        schema:
          type: string
          example: BITB
      - name: date
        in: query
        required: false
        description: As-of date (YYYY-MM-DD); defaults to today.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: ETF data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Etf'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication credentials were missing or incorrect.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Authentication credentials were missing or incorrect.
            id: unauthorized_request
            errors:
            - field: apiKey
              message: Invalid or missing API key
  schemas:
    Error:
      type: object
      description: Bitwise error envelope (not RFC 9457).
      properties:
        message:
          type: string
        id:
          type: string
          description: Machine-readable error identifier.
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Etf:
      type: object
      properties:
        symbol:
          type: string
        name:
          type: string
        date:
          type: string
          format: date
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key sent in the Authorization header. Request a key from api@bitwiseinvestments.com.
x-apievangelist-generated: '2026-07-18'
x-apievangelist-method: derived
x-apievangelist-source: postman/bitwise-collection.json (published collection https://developers.bitwiseinvestments.com/)
